$color-red: hsl(0, 100%, 74%);
$color-red-opacity: hsla(0, 100%, 50%, 0.5);
$color-green: hsl(154, 59%, 51%);
$color-lightGreen: #32b77e;
$color-lightGreen-hover: #5fd6a3 ;
$color-blue: hsl(248, 32%, 49%);
$color-darkBlue: hsl(249, 10%, 26%);
$color-darkBlue-opacity: hsla(249, 10%, 26%,0.2);
$color-grayBlue: hsl(246, 25%, 77%);
$color-white: #fff;


