
.wrapper {
    display: flex;
    background-color: $color-red-opacity;
    height: 100%;
    width: 100%;
    position: fixed;    

    @media (max-width:1000px) {
        display: inline-block;
        position: static;
    }
}

.wrapper_left {
    width: 30%;
    margin-top: 300px;
    margin-left: 300px;

    @media (max-width: 1500px) {
        margin-left: 200px;
    }

    @media (max-width: 1300px) {
        margin-left: 150px;
    }

    @media (max-width: 1000px) {
        margin: 150px 60px 0 60px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    
}

.wrapper_left h1, p {
    color: $color-white;
    text-align: left;

    @media (max-width: 1000px) {
        text-align: center;
    }
}

.wrapper_left h1 {
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 20px;
    line-height: 1.2;
    letter-spacing: 0.1rem;

    @media  (max-width: 1500px) {
        font-size: 2.7rem;
    }

    @media  (max-width: 1300px) {
        font-size: 2.5rem;
    }

}

.wrapper_left p {
    line-height: 1.5;
    font-weight: 400;
    line-height: 1.6;
}

.wrapper_right {
    width: 32%;
    margin-left: 160px;
    margin-top: 150px;

    @media  (max-width: 1500px) {
        margin-left: 120px;
        width: 40%;
        
    }

    @media (max-width: 1000px) {
        margin-top: 100px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    
}

.wrapper_right_banner {
    color: $color-white;
    font-size: 1.1rem;
    text-align: center;
    background-color:  $color-blue;
    margin-bottom: 25px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 9px $color-darkBlue-opacity;

    @media  (max-width: 1300px) {
        font-size: 1rem;
    }
    
}

#wrapper_right_banner-emphasize {
    font-weight: 100;

}

.wrapper_right_form {
    background-color: $color-white;
    box-shadow: 0px 9px $color-darkBlue-opacity;
    border-radius: 10px;
    text-align: center;

    @media (max-width: 1000px) {
        margin-bottom: 500px;
    }
    
}

.wrapper_right_form form {
    padding-top: 25px;
}

.wrapper_right_form input {
    border-radius: 5px;
    width: 80%;
    height: 60px;
    font-weight: bold;
    letter-spacing: 0.01rem;
    font-size: 0.9rem;
    color: $color-darkBlue;
    padding-left: 20px;
   
    border: 1px solid $color-grayBlue;

}

.wrapper_right_form input:focus {
    border: 1px solid $color-darkBlue;
    outline: none;
    font-weight: bold;
    letter-spacing: 0.01rem;
    font-size: 0.9rem;
    color: $color-darkBlue;

    @media  (max-width: 1300px) {
        font-size: 0.8rem;
    }

}

.wrapper_right_form-error {
    color: $color-red;
    text-align: right;
    font-style: italic;
    margin-right: 70px;
    font-size: 0.9rem;
    
}

.wrapper_right_form input.error {
    border: 2px solid $color-red;
    color: $color-red;
    background-image: url("../images/icon-error.svg");
    background-repeat: no-repeat;
    background-position: 95% center;
    
    
}

.wrapper_right_form form button {
    background-color: $color-green;
    width: 80%;
    height: 60px;
    border-radius: 5px;
    margin-top: 15px;
    color: $color-white;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    box-shadow: 0px 2px $color-lightGreen;
    border: 1px solid $color-green;
    margin-bottom: 15px;
    outline: none;
    cursor: pointer;

    @media  (max-width: 1300px) {
        font-size: 0.9rem;
    }

}

.wrapper_right_form form button:hover {
    background-color: $color-lightGreen-hover;
}

.wrapper_right_form h6 {
    color:  $color-grayBlue;
    padding-bottom: 40px;
    letter-spacing: 0.01rem;
}

.wrapper_right_form a {
    color: $color-red;
    text-decoration: none;
}
